/* Fixní header */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* Zajistí, že header bude nad ostatním obsahem */
}

/* Základní styl pro body */
body {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Zajistí, že stránka bude mít minimální výšku okna */
    margin: 0;
    background-color: #f8f9fa;
}

/* Obsah stránky */
.container {
    flex: 1; /* Zajistí, že obsah stránky se roztáhne nad footer */
}

footer {
    background-color: #212529;
    color: white;
    border-top: 1px solid #dee2e6;
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


footer h5 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

footer .text-muted {
    color: #c9c9c9 !important;
    margin-bottom: 0.25rem;
}

footer hr.bg-secondary {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #6c757d;
    opacity: 0.5;
}

footer .contact-info {
    display: inline-block;
    margin-right: 1.5rem;
}

/* Skrytí obsahu na menších obrazovkách */
@media (max-width: 768px) {
    footer .d-none {
        display: none !important; /* Skryje obsah na menších obrazovkách */
    }
}


/* Logo */
.centered-logo {
    max-height: 276px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}



/* 404 */

img.img-fluid {
    max-width: 500px;
    height: auto;
}

.btn-primary {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
}
